# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude terraform plan output
*.tfplan

# CLI configuration files
.terraformrc
terraform.rc

# Provider binaries
.terraform.lock.hcl
terraform-provider-*
